name: github-actions
on: [push]
jobs:
  deploy-to-prod:
    runs-on: ubuntu-latest
    steps:
      - name: Checking Out the Repository
        uses: actions/checkout@v2
      - name: Setting Up Node.js
        uses: actions/setup-node@v1
      - name: Installing Yarn Package Manager
        run: npm install -g yarn
      - name: Installing AWS CDK globally
        run: yarn global add aws-cdk
      - name: Installing Project Dependencies
        run: yarn
      - name: Building React Front End Application
        run: cd packages/front-end && yarn build
        env:
          CI: false
      - name: Configuring AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: Bootstrapping AWS Environment
        run: cd packages/cloud-infrastructure && cdk bootstrap
      - name: Generating CloudFormation Template of AWS Resources
        run: cd packages/cloud-infrastructure && cdk synth
      - name: Getting Difference From Last Deployment
        run: cd packages/cloud-infrastructure && cdk diff
      - name: Deploying AWS Resources to the Cloud
        run: cd packages/cloud-infrastructure && cdk deploy --progress=bar --require-approval never