name: github-actions
on: [push]
jobs:
  deploy-to-prod:
    runs-on: ubuntu-latest
    steps:
      - name: Action for Checking Out a Repo
        uses: actions/checkout@v2
      - name: Action for Setting Up Node.js
        uses: actions/setup-node@v1
      - name: Install Yarn Package Manager
        run: npm install -g yarn
      - name: Install AWS CDK globally
        run: yarn global add @aws-cdk
      - name: Install Project Dependencies
        run: yarn
      - name: Build React Front End Application
        run: cd packages/front-end && yarn build
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: (Update) Bootstrap AWS Environment
        run: cd packages/cloud-infrastructure && cdk bootstrap
      - name: Output AWS CloudFormation Template
        run: cd packages/cloud-infrastructure && cdk synth
      - name: Output Difference From Last Deploy
        run: yarn --cwd \"./packages/cloud-infrastructure\" cdk diff
      - name: Deploy AWS Resources
        run: yarn --cwd \"./packages/cloud-infrastructure\" cdk deploy --progress=bar --require-approval never